@import "tailwindcss";
@plugin "@tailwindcss/typography";

@source "../views/**/*.antlers.html";
@source "../views/**/*.html";
@source "../../content/**/*";

@import "./pages/home.css"; /* ← aquí sí */

[data-aos] {
  transform: none !important;
  will-change: auto !important;
}

.chart-canvas {
  width: 100% !important;
  height: 100% !important;
  max-height: 500px;
  display: block;
}

.chart-scroll {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.chart-wrapper {
    min-width: 900px;
    height: 400px;
}

#mobileLegend {
    display: flex;
    margin-top: 20px;
}

/* móvil */
@media (max-width: 639px) {

    #mobileLegend {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .chart-wrapper {
        min-width: 850px;
    }
}

/* sm+ */
@media (min-width: 640px) {

    #mobileLegend {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    user-select: none;
    transition: opacity .2s;
}

.legend-item.hidden {
    opacity: .35;
}

.legend-color {
    width: 12px;
    height: 12px;
    border-radius: 999px;
    flex-shrink: 0;
}