@import "tailwindcss";
@plugin "@tailwindcss/typography";

@source "../views/**/*.antlers.html";
@source "../views/**/*.html";
@source "../../content/**/*";

@import "./pages/home.css"; /* ← aquí sí */

[data-aos] {
  transform: none !important;
  will-change: auto !important;
}

canvas {
  width: 100% !important;
  height: auto !important;
  max-height: 400px;
}