<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="turbo-visit-control" content="reload">
        <title>{{ title ?? site:name }}</title>
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
        <script src="//unpkg.com/alpinejs" defer></script>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <style>
            body {
                font-family: 'Inter', sans-serif;
            }
        </style>
    </head>

    <body class="font-sans leading-normal min-h-screen flex flex-col" style="background-color: #E8E2D6;">

        {{ partial:partial/header }}

        <main class="flex-grow w-full">
            <div class="mx-auto px-4 max-w-4xl py-12">
                {{ template_content }}
            </div>
        </main>

        {{ partial:partial/footer }}

        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>

    </body>
</html>